.location {
    .container {
        padding-top: 96px; 
        padding-bottom: 128px; // 160 - 32

        @include pad() {
            padding-top: 60px;
            padding-bottom: 76px; // 96 - 20
        }
        @include mobile() {
            padding-top: 28px;
            padding-bottom: 40px; // 56 - 16
        }

        h1 {
            font-size: 48px;
            font-weight: 700;
            line-height: 1.5;
            border-left: 8px solid #9f1213;
            padding-left: 16px;

            @include pad() {
                border-left: 4px solid #9f1213;
            }
            @include mobile() {
                font-size: 28px;
                padding-left: 8px;
            }

        }
        .selection {
            align-items: center;
            padding: 60px 0 32px 0;

            @include pad() {
                padding: 40px 0 24px 0;
            }
            @include mobile() {
                padding: 24px 0 20px 0;
            }

            p {
                font-size: 24px;
                line-height: 1.25;
                margin-right: 20px;

                @include pad() {
                    font-size: 16px;
                }
                @include mobile() {
                    font-size: 14px;
                    margin-right: 0;
                    width: 20%;
                }
            }
            .area {
                font-size: 18px;
                line-height: 1.44;
                padding: 8px 19px;
                width: 324px;
                border: 1px solid #CED4DA;
                color: #495057;

                @include pad() {
                    font-size: 16px;
                    width: 237px;
                }
                @include mobile() {
                    font-size: 14px;
                    width: 80%;
                }
            }
        }
        .location-lists {
            flex-wrap: wrap;
            justify-content: space-between;

            .location-card {
                width: calc((100% - 60px) / 3);
                margin-bottom: 32px;
                border: solid 1px #CED4DA;

                @include pad() {
                    width: calc((100% - 30px) / 2);
                    margin-bottom: 20px;
                }
                @include mobile() {
                    width: 100%;
                    margin-bottom: 16px;
                }

                img {
                    width: 100%;
                    height: auto;
                }

                &:nth-child(5) {
                    margin-right: auto; // ? 是否有較好做法
                    margin-left: 30px;
                    img { // ! 因此圖高度與其他不同，暫時手動調整，後續待調整 html 結構
                        clip-path: inset(0px 0px calc(((245.29 - 232.3) / 245.29) * 100%));
                        margin: 0 0 -3.55% 0;
                    }

                    @include pad() {
                        margin: 0;
                    }
                }

                .location-name {
                    font-size: 24px;
                    line-height: 1.5;
                    padding: 12px 24px;

                    @include pad() {
                        font-size: 16px;
                        font-weight: 700;
                    }
                    @include mobile() {
                        padding: 8px 24px;
                    }

                }
                .card-body {
                    padding: 16px 27px;
                    border-top: 1px solid #CED4DA;
                    .card-content {
                        li {
                            display: flex;
                            margin-bottom: 8px;
                            img {
                                width: 16px;
                                height: 30px;
                                margin-right: 11px;
                                @include pad() {
                                    width: 15px;
                                    height: 21px;
                                }
                            }
                            p {
                                font-size: 20px;
                                line-height: 1.5;
                                @include pad() {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                .card-bottom {
                    background-color: #000;
                    a {
                        display: block;
                        color: #fff;
                        text-align: center;
                        font-size: 19px;
                        padding: 20px 0;
                        @include pad() {
                            font-size: 14px;
                            padding: 16px 0;
                        }
                    }
                }
            }
        }
    }
}
