<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="navbar d-flex">

      <a class="home" href="./index.html">
        <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true" alt="">
      </a>
        

      <ul class="d-flex">
        <li><a href="#">系列鏡框</a></li>
        <li><a href="./location.html">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
    </div>
  </header>

  <%- contents %>

    <div class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-header d-flex">
            <ul class="footer-list d-flex">
              <li><a href="./index.html">首頁</a></li>
              <li><a href="#">系列鏡框</a></li>
              <li><a href="#">門市據點</a></li>
              <li><a href="#">部落格</a></li>
              <li><a href="#">常見問題</a></li>
            </ul>
            <ul class="footer-icons d-flex">
              <li><img
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-fb.svg"
                  alt=""></li>
              <li><img
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-ig.svg"
                  alt=""></li>
              <li><img
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-line.svg"
                  alt=""></li>
            </ul>
          </div>
          <div class="footer-body">
            <ul>
              <li>
                <img
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-phone.svg"
                  alt="">
                <a href="#">0800-000-000</a>
                </img>
              </li>
              <li>
                <img
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-mail.svg"
                  alt="">
                <a href="#">glasses@business.com</a>
                </img>
              </li>
            </ul>
          </div>
          <div class="footer-bottom">
            <ul class="d-flex">
              <li>
                <p class="copyright">Copyright @ 2020 Glasses All rights reserved.</p>
              </li>
              <li class="copyright-2 d-flex">
                <p class="terms">隱私權政策</p>
                <p class="terms">服務條款</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>