// 全域
body {
    // font-family: "Noto Sans TC", sans-serif;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle; // 移除圖片底部 2~3px
    // display: block;
}
a {
    text-decoration: none;
}
